<launch>
    <arg name="beep_dir" default="$(find sound_ros)/beep" />
    <node pkg="sound_play"  type="soundplay_node.py" name="hello_world_node" output="screen" respawn="true" />
    <node pkg="sound_ros" type="beep_engine.py" name="beep_engine" output="screen" respawn="true">
        <param name="beep_dir" value="$(arg beep_dir)" />
    </node>
</launch>
